<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ComingUpNext Tray" Manufacturer="https://github.com/supermem613/ComingUpNext" Version="$(var.Version)" UpgradeCode="498c67de-c24e-4712-814b-b6e0e03d89cb" Language="1033" Scope="perMachine" InstallerVersion="500">
    <!-- Directory tree -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ComingUpNext" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="ComingUpNext" />
    </StandardDirectory>

    <!-- Start menu shortcut component -->
    <Component Id="StartMenuShortcut" Guid="CBB2C481-FB1C-419D-8A6B-2438AFCD109E" Directory="ProgramMenuDir">
      <Shortcut Id="AppShortcut" Name="ComingUpNext Tray" Target="[#ComingUpNextExe]" WorkingDirectory="INSTALLFOLDER" />
    </Component>

    <!-- Auto-start registry component -->
    <Component Id="AutoStartRunKey" Guid="BBE6B567-5483-42D5-ABDA-1B7EE08E96C3" Directory="INSTALLFOLDER">
      <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="ComingUpNextTray" Value="[INSTALLFOLDER]ComingUpNextTray.exe" Type="string" KeyPath="yes" />
    </Component>

    <Feature Id="MainFeature" Title="ComingUpNext Tray" Level="1">
      <ComponentGroupRef Id="MainComponents" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="AutoStartRunKey" />
    </Feature>
  </Package>
</Wix>
